<a href="/register">Register</a>
<a href="/login">Login</a>
<a href="/logout">Logout</a>

<form class="" action="/complaint" method="post">
  <input type="text" name="complaint[name]" placeholder="Name">
  <button>Submit</button>
  
</form>
